@import "color";
.registerBox {
  width: 60%;
  min-width: 300px;
  margin-left: 20%;
  margin-top: 50px;
  .title {
    text-align: center;
    width: 100%;
    height: 30px;
    font-size: 25px;
  }
  .form {
    width: 100%;
    height: auto;
    margin-top: 20px;
    >div {
      width: 80%;
      margin-left: 10%;
      height: auto;
      margin-top: 20px;
      margin-bottom: 20px;
      input {
        width: 100%;
        height: 40px;
      }
      .tips {
        display: none;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        min-height: 25px;
        color: @c-purple-2;
      }
    }
    button {
      width: 100px;
      background-color: @c-purple-1;
      color: @c-light-0;
      margin-bottom: 30px;
      margin-left: 10%;
    }
  }
}