@import "color";

.conditionBox {
  width: 1000px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  > div {
    width: 100%;
    height: auto;
    &.hasSelected {
      height: 20px;
      .group {
        float: left;
        padding: 2px 5px;
        span {
          &.ico {
            font-size: 12px;
            cursor: pointer;
            &:hover {
              color: @c-purple-3;
            }
          }
        }
      }
    }
    &.condition {
      background-color: @c-light-0;
      height: auto;
      position: relative;
      padding-bottom: 20px;
      &.autoExpand {
        height: auto;
        overflow: hidden;
        .expand {
          display: block;
        }
      }
      .group {
        width: 100%;
        height: auto;
        padding-top: 8px;
        padding-bottom: 5px;
        border-bottom: 1px solid @c-border-sub;
        &.checkMode {
          input[type='checkbox'] {
            display: inline-block !important;
          }
        }
        > div {
          float: left;
          &.name {
            width: 100px;
            text-align: right;
            height: auto;
            span {
              display: inline-block;
              padding-top: 5px;
              padding-bottom: 5px;
            }
          }
          &.select {
            width: 760px;
            padding-left: 15px;
            padding-right: 15px;
            span {
              display: inline-block;
              padding: 5px 5px;
              cursor: pointer;
              &.active {
                color: @c-wrong;
              }
              a {
                color: @c-dark-1;
                text-decoration: none;
                input[type='checkbox'] {
                  display: none;
                }
              }
            }
          }
          &.checkmore {
            width: 80px;
            height: 100%;
            line-height: 100%;
            button {
              width: 100%;
              height: 30px;
              line-height: 30px;
              padding: 0;
              text-align: center;
              font-size: 12px;
              &:hover {
                color: @c-purple-1;
              }
              &.checked {
                background-color: @c-purple-3;
                color: @c-light-0;
              }
            }
          }
        }
      }
      .expand {
        display: none;
        position: absolute;
        background-color: @c-light-0;
        left: 50%;
        top: 199px;
        z-index: 999;
        width: 300px;
        height: 20px;
        margin-left: -150px;
        text-align: center;
        line-height: 20px;
        border: 1px solid @c-purple-4;
        border-top: none;
        cursor: pointer;
        span {
          color: @c-purple-4;
          margin-left: 5px;
        }
      }
    }
    &.sort {
      margin-top: 10px;
      margin-bottom: 10px;
      .group {
        float: left;
        &.active span{
          color: @c-purple-3;
        }
        button {
          padding: 5px 8px;
          margin-right: 15px;
        }
      }
    }
    &.section {
      min-height: 500px;
      width: 100%;
      .item {
        width: 248px;
        height: auto;
        float: left;
        margin-bottom: 5px;
        background-color: @c-light-0;
        border: 1px solid transparent;
        &:hover {
          border-color: @c-purple-3;
        }
        a {
          display: inline-block;
          width: 250px;
          height: auto;
          text-decoration: none;
          img {
            width: 230px;
            height: 150px;
            padding: 8px 10px;
          }
          .info {
            width: 240px;
            height: auto;
            padding-bottom: 5px;
            padding-left: 10px;
            p {
              width: 100%;
              &.name {
                color: @c-dark-2;
                font-weight: bold;
              }
              &.price {
                color: @c-purple-4;
                font-weight: bold;
              }
              &.desc {
                color: @c-dark-2;
              }
            }
          }
        }
      }
    }
  }
}